
{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}


<main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Munchie</h1>
            <p class="lead fw-normal">Automate your food choices with us</p>.</p>
            <a class="btn btn-outline-dark" href="">Add bot to your WhatsApp</a> <br />  <br/>
            <a class="small text-muted" href="/contact">Facing any problems? Contact us </a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
      
        
        
      </main>
    
      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#FECD70" >Are you confused about what to eat every day?</h1>
                    <p class="text-muted mt-2 fs-5">Why don't you leave that choice to Munchie so you can spend more time enjoying your meal?</p>
               </div>
               <div class="col-11 col-md-5 my-3">
                <img src="static/cus1.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>

      <br/>
      <br/>
    

      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#FECD70" >Munchie personalizes your searches based on three categories:</h1>
                    <p class="text-muted mt-2 fs-5">
                      <ul class="text-muted mt-2 fs-5">
                     <li>Proximity</li>
                      <li>Budget</li>
                      <li>Dietary Compatibility</li>
                      </ul>
                    </p>
               </div>
               <div class="col-5 col-md-5 my-1">
                <img src="static/cus2.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>

      <br/>
      <br/>

      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#FECD70" >Analyze your orders</h1>
                    <p class="text-muted mt-2 fs-5">Munchie suggests you restaurants based on your preferences, recommendations and likings.
                    </p>
               </div>
               <div class="col-5 col-md-5 my-1">
                <img src="static/analyze.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>
    


{% endblock %}